[user]
	name = Tiger Yotsawat
	email = tigeryotsawat@gmail.com
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
# Large File Storage settings added by GitHub desktop
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
